/* NavBar.css */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    /* Fixed width */
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
}

.nav-icon {
    position: relative; 
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.nav-icon:hover {
    background-color: #555;
    /* Hover effect */
}

/* Style specifically for Material Icons */
.material-icons {
    font-size: 30px;
    /* Adjust icon size */
    color: white;
    /* Icon color */
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: -50%; /* Place it above the icon */
    left: 100%;
    transform: translateX(-50%);
    white-space: nowrap; 
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show tooltip on hover */
.nav-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}